<div class="publication-item <%= cycle('even', 'odd') %>">
  <table class="table table-borderless">
    <tbody>
    <tr>
      <%# Envío %>
      <td width="30%">
        <p><strong><%= link_to shipment_publication.title_text, carrier_path(id: shipment_publication.id),
                               class: (get_carrier_bid(shipment_publication) and !shipment_publication.accepted_bid)? 'pending-bid' : '' %></strong></p>
        <div>
          <%= image_tag('shipment_publication/' + shipment_publication.category_codename, class: 'media_object img-thumbnail',
                        size: ApplicationHelper::CATEGORY_ITEM_IMG_SIZE) %>
          <% if shipment_publication.category_name %>
              <span class="img-side-description"><%="#{shipment_publication.category_name }"%></span>
          <% end %>
        </div>
      </td>

      <%# Orígen %>
      <td width="17.5%">
        <% if shipment_publication.origin_part_1 %>
            <p><strong><%="#{shipment_publication.origin_part_1}"%></strong><br/>
              <% if shipment_publication.origin_part_2 %>
                  <%= "#{shipment_publication.origin_part_2}" %>
              <% end %>
            </p>
        <% else %>
            <% if !shipment_publication.origin_part_3.empty? %>
                <p><em><%="#{shipment_publication.origin_part_3}"%></em></p>
            <% else %>
                <p><em><%= ApplicationHelper::ORIGIN_DEFAULT_TEXT %></em></p>
            <% end %>
        <% end %>
      </td>

      <%# Destino %>
      <td width="17.5%">
        <% if shipment_publication.destination_part_1 %>
            <p><strong><%="#{shipment_publication.destination_part_1}"%></strong><br/>
              <% if shipment_publication.destination_part_2 %>
                  <%= "#{shipment_publication.destination_part_2}" %>
              <% end %>
            </p>
        <% else %>
            <% if !shipment_publication.destination_part_3.empty? %>
                <p><em><%="#{shipment_publication.destination_part_3}"%></em></p>
            <% else %>
                <p><em><%= ApplicationHelper::DESTINATION_DEFAULT_TEXT %></em></p>
            <% end %>
        <% end %>
      </td>

      <%# Condiciones %>
      <td width="25%">
        <% if shipment_publication.pickup_service_condition.instance_of? OnCondition %>
            <strong><%= ApplicationHelper::PICKUP_TEXT %></strong>
            <%="#{short_date(shipment_publication.pickup_service_condition.date)}"%>

        <% else if shipment_publication.pickup_service_condition.instance_of? BeforeCondition %>
                <strong><%= ApplicationHelper::PICKUP_TEXT %></strong><%= ApplicationHelper::BEFORE_CONDITION_TEXT %>
                <%="#{short_date(shipment_publication.pickup_service_condition.date)}"%>

            <% else if shipment_publication.pickup_service_condition.instance_of? AfterCondition %>
                    <strong><%= ApplicationHelper::PICKUP_TEXT %></strong><%= ApplicationHelper::AFTER_CONDITION_TEXT %>
                    <%="#{short_date(shipment_publication.pickup_service_condition.date)}"%>

                <% else if shipment_publication.pickup_service_condition.instance_of? BetweenCondition %>
                        <strong><%= ApplicationHelper::PICKUP_TEXT %></strong><%= ApplicationHelper::BETWEEN_CONDITION_TEXT_1 %>
                        <%="#{short_date(shipment_publication.pickup_service_condition.from_date)}
                           #{ApplicationHelper::BETWEEN_CONDITION_TEXT_2}#{short_date(shipment_publication.pickup_service_condition.to_date)}"%>

                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <br/>
        <% if shipment_publication.delivery_service_condition.instance_of? OnCondition %>
            <strong><%= ApplicationHelper::DELIVERY_TEXT %></strong>
            <%="#{short_date(shipment_publication.delivery_service_condition.date)}"%>

        <% else if shipment_publication.delivery_service_condition.instance_of? BeforeCondition %>
                <strong><%= ApplicationHelper::DELIVERY_TEXT %></strong><%= ApplicationHelper::BEFORE_CONDITION_TEXT %>
                <%="#{short_date(shipment_publication.delivery_service_condition.date)}"%>

            <% else if shipment_publication.delivery_service_condition.instance_of? AfterCondition %>
                    <strong><%= ApplicationHelper::DELIVERY_TEXT %></strong><%= ApplicationHelper::AFTER_CONDITION_TEXT %>
                    <%="#{short_date(shipment_publication.delivery_service_condition.date)}"%>

                <% else if shipment_publication.delivery_service_condition.instance_of? BetweenCondition %>
                        <strong><%= ApplicationHelper::DELIVERY_TEXT %></strong><%= ApplicationHelper::BETWEEN_CONDITION_TEXT_1 %>
                        <%="#{short_date(shipment_publication.delivery_service_condition.from_date)}
                           #{ApplicationHelper::BETWEEN_CONDITION_TEXT_2}#{short_date(shipment_publication.delivery_service_condition.to_date)}"%>

                    <% end %>
                <% end %>
            <% end %>
        <% end %>
      </td>

      <%# Distancia %>
      <td width="10%">
        <p class="text-right"><strong><%= distance_text(
                                              shipment_publication.origin_coordinates,
                                              shipment_publication.delivery_coordinates) %></strong></p>
      </td>

    </tr>
    </tbody>
  </table>
</div>