<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>¿Olvidaste tu contraseña?</h4>
        </div>
        <div class="panel-body devise-panel">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%#= devise_error_messages! %>
              <%= render 'shared/error_messages', model: resource %>

              <p><strong>Ingresá tu email y te enviaremos instrucciones para cambiar tu contraseña.</strong></p>

              <div class="form-group">
                <%= f.label 'Email' %><br />
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
              </div>

              <div class="actions">
                <%= f.submit 'Enviar', class: 'btn btn-primary'  %>
              </div>
          <% end %>
        </div>
      </div>
      <%= render 'carriers/shared/links' %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>